@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
  }

body {
  background-color: #f6f8fcc5;
}

.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

.ls {
  list-style: none;
}

.content {
  padding: 1rem;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

